<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny URLs</title>
  <% include ./partials/_header %>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form method="POST" action="/login" style="display: inline-table;">
    	<h1>Login Page !</h1>
    	<table >
    		<tr>
    			<td><label>Username:<input type="email" name="email" required></label></td>
    		</tr>
    		<tr>
    			<td><label>Password:&nbsp<input type="password" name="password" required></label></td>
     		</tr>
        <tr>
            <td><button class="pointer" type="submit">Log in</button></td>
        </tr>
    	</table>
    </form>
    <br><br><br><br><br><br><br><br><br><br><br>
    <%- include('partials/footer') %>
</body>
</html>


