<!DOCTYPE html>
<html lang="en">
	<form method="POST" action="/logout">
	  <input name= "logout">
	  <input type="submit"  value="logout" >
	</form>
	<br><br><br><br><br><br><br><br><br><br><br>
	<%- include('partials/footer') %>
  </body>
</html>