<!DOCTYPE html>
<html lang="en">
  <head>
    <header style="font-size:30px">
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <% include ./partials/_header %>
    </header>
  </head>
  <body>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input type="text" name="longURL" required placeholder="http://" style="width: 300px">
      <input class="pointer" type="submit" value="Submit">
    </form>
    <br><br><br>
    <% include ./partials/footer %>
  </body>
</html>
