<!-- Display a single URL and it's shortened form.   -->
<!DOCTYPE html>
<html lang="en">
<header>
    <% include ./partials/_header %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</header>
<body>
  <% if(userINFO.length !== 0) {%>
      <form method="GET" action="/urls">
      <p><%= "ShortURL:  " + userINFO.shortURL%></p>
      <input type="text" name="updatedLongURL" value= <%=userINFO.longURL%> >
      <button class="pointer" type="submit">Update</button>
      </form>
  <% } %>
  <br><br><br><br><br><br><br><br><br><br>
  <%- include ./partials/footer %>
</body>
</html>